body{
background-color: #A4DBFF;
}

#outline {
margin:0 auto;
}

#contents{
-moz-border-radius: 10px;
border-style: solid;
border-color: #0078C8;
padding: 1%;
background-color: white;
width : 97%;
clear: both;
}

#header{

}

#menu{
text-align: center;
-moz-border-radius: 10px;
border-style: solid;
border-color: #0078C8;
padding: 5px;
background-color: white;
margin-bottom: 5px;
width: 25%;
float: left;
height: 25px;
}

#confusing{
text-align: center;
-moz-border-radius: 10px;
border-style: solid;
border-color: #0078C8;
padding: 5px;
background-color: white;
margin-bottom: 5px;
margin-left: 5px;
width: 50%;
float: left;
height: 25px;
}

#c-both {
height:0px; 
clear:both;
}

.item{
padding: 5px;
}

H1 {
-moz-border-radius: 10px;
  color: #ffffff;
  background-color : #005BF2;
  border-style: solid;
  border-color: #003999;
  border-width: 4px;
  line-height: 120%;
  text-align: center;
  font-weight: bolder;
}
H2 {
  color: #004BC8;
  padding-left: 10px;
  border-width: 0px 0px 2px 15px;
  border-style: solid;
  border-color: #004BC8;
  line-height: 100%;
}
H3 {
  color: #004BC8;
  padding-left: 10px;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: #004BC8;
  line-height: 100%;
}
H4 {
  color: #004BC8;
  padding-left: 10px;
  border-width: 0px 0px 2px 0px;
  border-style: none;
  border-color: #004BC8;
  line-height: 100%;
}

match{
color: green;
  font-weight: bold;
}

strong{
color: red;
  font-weight: bolder;
}

table {border-spacing:3pt}
th {background:#C8E9FF; text-align:center; color:black;
font-size: 14pt; font-weight:bolder; padding:4pt}
/* tr {background:#E3F4FF} */
tr {background:#F3FFF3} /* FCB likes green */
td {padding:4pt}
